---
import Layout from "../../layouts/Global.astro";
import type { Article } from "../../types/article";
import dayjs from "dayjs";
import customParseFormat from "dayjs/plugin/customParseFormat";
dayjs.extend(customParseFormat);

// Return the list of articles in the "articles" directory
const articles = await Astro.glob<Article>("./*.md");

// Parse the date of each article, sort by date descending and return an array of the 4 last articles
const sortedArticle = articles
  .map((article) => {
    const { title, date, description, image } = article.frontmatter;
    return {
      title,
      date: dayjs(date, "DD-MM-YYYY").format("YYYY-MM-DD"),
      description,
      url: article.url,
      image: image,
    };
  })
  .sort((a, b) => {
    return dayjs(b.date).diff(dayjs(a.date));
  });
---

<Layout
  title="Julien"
  description="I'm Julien. I occasionnaly publish articles about programming and tech."
>
  <main>
    <h2 class="text-base md:text-xl mt-8 mb-4">My last articles</h2>
    <div class="flex flex-wrap gap-3">
      {
        sortedArticle.map((article) => (
          <a
            href={article.url}
            class="inline-block w-[100%] sm:w-[48%] bg-neutral-800 hover:scale-105  p-4 rounded-lg "
          >
            <img
              src={"/images/" + article.image}
              class="w-full object-cover rounded-lg aspect-video mb-4"
            />
            <div>
              <h2 class="font-medium text-sm  md:text-base ">
                {article.title}
              </h2>
              <p class="text-neutral-500">
                {dayjs(article.date, "YYYY-MM-DD")
                  .format("DD/MM/YYYY")
                  .toString()}
              </p>
            </div>
          </a>
        ))
      }
    </div>
  </main>
</Layout>
