---
import Layout from "../layouts/Global.astro";
import Button from "../components/Button.astro";
---

<Layout title="Julien">
  <main>
    <h1 class="lg:text-6xl text-2xl">Welcome to my website</h1>
    <p class="text-neutral-400 mt-2 mb-2">
      I'm <strong>Julien C</strong>, a 19 years old developer. I'm currently
      studying in a "licence informatique" (French equivalent of a CS degree). I
      love building project on my spare time. <br />
      On this website, you'll find my articles and a list of my projects.
    </p>
    <Button style="px-8">Read my articles</Button>
  </main>
</Layout>

<style>
  h1 {
  }
</style>
