---
import Layout from "../layouts/Global.astro";
---

<Layout
  title="Who am I ? - Julien C"
  description="Discover who I am and what I like doing in my spare time"
>
  <div class="flex flex-col transition-all h-[73vh] justify-center">
    <h1
      class="text-3xl transition-all mb-1 font-semibold bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent"
    >
      Who am I ?
    </h1>
    <p class="text-neutral-400 mb-12">
      Hi, my name is Julien. I am discreet and don't necessarily like to share
      information about myself publicly. However, I would be happy to discuss
      with you about anything.<br /> If you want to ask a question about an article,
      leave a comment. I always answer. <br /> If you want to contact me for something
      else, send an email to <a href="mailto:contact@julienc.me">
        contact@julienc.me
        <br />
        Here is my resume <a href="https://cdn.julienc.me/resume.pdf">in PDF</a
        >.
      </a>
    </p>
  </div>
</Layout>
