---
import Layout from "../layouts/Global.astro";
---

<Layout
  title="Who am I ? - Julien C"
  description="Discover who I am and what I like doing in my spare time"
>
  <main class="flex flex-col transition-all justify-center text-center">
    <h1
      class="text-3xl transition-all mb-1 font-semibold bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent"
    >
      Who am I ?
    </h1>
    <img
      src="/images/web-developer.png"
      alt="Web Developer"
      style="max-width: 292px;"
      class="mx-auto"
    />
    <p class="text-neutral-400 mx-auto mb-12">
      Hi, my name is Julien. I am discreet and don't necessarily like to share
      information about myself publicly. However, I would be happy to discuss
      with you about anything.<br /> If you want to ask a question about an article
      or a project, leave a comment. I always answer. <br /> If you want to contact
      me for a project, send an email to <a href="mailto:contact@julienc.me">
        contact@julienc.me
      </a>
    </p>
    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLScO2f9qh1R6t0JRpAGxNcaoUm59Q_O-SgAPb_vluv_kEm1fHw/viewform?embedded=true"
      width="640"
      height="800"
      class="mx-auto bg-transparent"></iframe>
  </main>
</Layout>
