---
import Layout from "../../layouts/Global.astro";
---

<Layout
  title="Julien"
  description="I'm Julien. I occasionnaly publish articles about programming and tech."
>
  <main>
    <h1
      class="text-xl bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent"
    >
      My portfolio
    </h1>
    <p class="text-neutral-400 mt-2 mb-2">
      On this page you'll find a list of my projects.
    </p>
  </main>
</Layout>
